.login > .container {
    padding: 20px;
    font-size: 24px;
}

input {
    font-size: 24px;
    padding: 20px;
}

.table > .container {
    padding: 20px;
    width: 100%;
}

table {
    width: 100%;
    border: 1px solid grey;
    font-size: 24px;
}

th {
    background-color: green;
    color: #fff;
}

tbody {
    background-color: lightgrey;
}

.bottom > .container {
    padding: 20px;
}

.logout {
    font-size: 24px;
}

button {
    font-size: 24px;
    width: 24%;
}

button > a {
    text-decoration: none;
}